body {
	text-align: center;
}

table, th, td {
  border: 1px solid black;
}

table {
	border-collapse: collapse;
}
#about_table {
width: 50%;
text-align: center;
}

#last 
{
	text-align: center;
	color: blue;
}